@import url("header.css");
@import url("banner.css");
@import url("carousel.css");

:root {
	--bg-alura-books: #EBECEE;
	--white-alura: #FFFFFF;
	--orange-alura: #EB9B00;
	--blue-gradient-alura: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
	--main-font: "Poppins";
}

body {
	background-color: var(--bg-alura-books);
	font-family: var(--main-font);
	font-size: 16px;
	font-weight: 400;
}
